.live-tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .video-container {
    margin: 0 5px;
  }
}

@media only screen and (max-width: 952px) {
  .live-tiles {
    flex-direction: column;
    align-items: center;
  }
}