.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  // .button-container {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-evenly;
  //   margin-bottom: 20px;

  //   .add-new {
  //     margin: 10px;
  //     background-color: #1d8e0f;
  //     color: white;
  //     border: none;
  //     border-radius: 7px;
  //     padding: 6px 21px;
  //     cursor: pointer;
  //   }

  //   .delete-selected {
  //     margin: 10px;
  //     background-color: #ec0d0d; 
  //     color: white;
  //     border: none;
  //     border-radius: 7px;
  //     padding: 6px 21px;
  //     cursor: pointer;
  //   }
  // }


}