
<div class="app-container">
  <app-focused-stream [liveStreams]="liveStreams$ | async" [focusedStreamIndex]="(focusedStreamIndex$ | async)" [focusedStreamDim]="focusedStreamDim$ | async" (search)="search$.next($event)" (toggleVideoSelect)="toggleVideoSelect$.next($event)" (close)="focusedStreamIndex$.next(null)"></app-focused-stream>
  <app-stream-list [liveStreams]="liveStreams$ | async" [listedStreamDim]="listedStreamDim$ | async" (focusVideo)="focusedStreamIndex$.next($event)" (search)="search$.next($event)" (toggleVideoSelect)="toggleVideoSelect$.next($event)"></app-stream-list>
</div> 