<video class="video" (click)="focusVideo.emit()" *ngIf="stream && !posterUrl" (mouseover)="showBorder.emit(true)"
    (mouseleave)="showBorder.emit(false)" id="live-stream-{{stream.id}}" [style.height.px]="streamDim.height"
    [style.width.px]="streamDim.width" autoPlay>
</video>
<img draggable="false" [src]="posterUrl" (click)="focusVideo.emit()" *ngIf="posterUrl" (mouseover)="showBorder.emit(true)"
(mouseleave)="showBorder.emit(false)" [style.height.px]="streamDim.height" [style.width.px]="streamDim.width">