<div class="video-container" [ngClass]="{'show-border': showBorder}">
  <video class="video" (click)="focusVideo.emit()" *ngIf="stream" (mouseover)="showBorder = true"
    (mouseleave)="showBorder = false" id="live-stream-{{stream.id}}" [style.height.px]="streamDim.height"
    [style.width.px]="streamDim.width" autoPlay>
  </video>
  <button mat-icon-button *ngIf="canClose" matTooltip="Close video." class="close" (click)="close.emit()" matTooltip="Close video.">
    <img src="https://icongr.am/material/close-circle-outline.svg?size=40&color=f67c0e">
  </button>
  <div class="bottom-metadata">
    <div class="text" [ngClass]="{'online': stream.online, 'offline': !stream.online}">
      {{ stream.online ? 'Online' : 'Offline' }}
    </div>
    <div class="dropdown-container" (clickOutside)="isDropdown = false">
      <button mat-stroked-button matTooltip="Search by camera or camera label." [matTooltipDisabled]="isDropdown" class="dropdown-btn" (click)="toggleDropdown()">{{ stream.cameraName }}</button>
      <div class="dropdown" [ngClass]="{'show': isDropdown }">
        <div class="dropdown-option" (click)="search.emit(stream.cameraName)">{{ stream.cameraName }}</div>
        <div class="dropdown-option" *ngFor="let label of stream.labels" (click)="search.emit(label)">{{ label }}</div>
      </div>
    </div>
    <div class="time">{{ stream.timeStamp | date:'mediumTime'}}</div>
    <button mat-stroked-button matTooltip="Go back 15 minutes."class="rewind" (click)="rewindVideo()"><img class="rewind-icon"
        src="https://icongr.am/fontawesome/history.svg?size=20&color=000000" /></button>
        <button mat-icon-button class="checkbox" (click)="toggleVideoSelect.emit()" matTooltip="Select camera.">
          <img [src]="isTagSelected()">
        </button>
    
  </div>
</div>