.video-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.show-border {
    transition: 0.3s;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    cursor: pointer;
  }
  
  .bottom-metadata {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5px;
    
    .text {
      padding: 2px 5px;
      border-radius: 4px;
      align-self: center;
      margin-right: 5px;

      &.online {
        background-color: #3AC162;
        color: white;
      }

      &.offline {
        background-color: #da4646;
        color: white;
      }
    }

    .dropdown-container {
      display: flex;
      position: relative;
      margin-right: 5px;

      .dropdown-btn {
        cursor: pointer;

      }

      .dropdown {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 29.5px;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

        &.show {
          display: flex;
        }

        .dropdown-option {
          cursor: pointer;
          padding: 5px 0px;
          width: 100%;
          text-align: center;

          &:hover {
            background-color: rgba(187, 187, 187, 0.9);
          }
        }
      }
    }

    .time {
      align-self: center;
    }

    .rewind {
      margin-left: auto;
      cursor: pointer;

      .rewind-icon {
      }
    }

    .checkbox {
      margin-left: 5px;
      cursor: pointer;
    }

  }
}
