<div class="video-container">
  <video class="video" (click)="selectVideo.emit()" *ngIf="stream"
  id="live-stream-{{stream.id}}" [style.height.px]="streamDim.height" [style.width.px]="streamDim.width" autoPlay>
</video>
<div class="bottom-metadata">
  <div class="text" [ngClass]="{'online': stream.online, 'offline': !stream.online}">
    {{ stream.online ? 'ONLINE' : 'OFFLINE' }}
  </div>
  <select class="search" name="search" >
    <option (click)="search.emit(stream.cameraName)">{{ stream.cameraName }}</option>
    <option *ngFor="let label of stream.labels" (click)="search.emit(stream.cameraName)">{{ label }}</option>
  </select>
  <div class="time">{{ stream.timeStamp | date:'mediumTime'}}</div>
  <img class="rewind" src="https://img.icons8.com/ios/100/000000/skip-15-seconds-back.png"/>
  <img class="checkbox" src="https://icongr.am/material/tag-multiple.svg?size=128&color=currentColor">
</div>
</div>
